*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.content {
  padding: 133px 30px;
  display: flex;
  align-items: flex-end;
  gap: 32px;
  width: 1200px;
}

.result__video-container {
  width: 711px;
  height: 386px;
  position: relative;
}

.result__video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.search-form {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 40px;
  justify-content: space-between;
  align-items: flex-end;
  padding-top: 16px;
}

.search-form__fieldset {
  border: none;
  display: flex;
  flex-direction: column;
  align-content: center;
  gap: 5px;
}

.search-form__fieldset-title {
  color: #FFF;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  
}

.search-form__textfield {
  appearance: none;
  border: none;
  background-color: transparent;
  min-width: 225px;
  border-top: 1px solid #FFF;
  border-bottom: 1px solid #FFF;
  color: rgba(255, 255, 255, 0.70);
  font-family: Fira Sans Condensed;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 2.5px 14px 2.5px 0px;
}

.search-form__checkbox-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
  margin-bottom: 5px;
}

.search-form__label {
  width: fit-content;
  cursor: pointer;
  display: flex;
  gap: 5px;
  align-items: center;
}

.search-form__label:focus {
  outline: none;
}

.search-form__textfield:focus {
  outline: none;
}

.search-form__label:has(:focus-visible) {
  outline: 1px solid #FFF;
  outline-offset: 1px;
}

.search-form__checkbox-list .search-form__label:hover {
  text-decoration: underline;
}

.search-form__checkbox {
  appearance: none;
}

input[type="checkbox"] + span {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: content-box;
  border: 1px solid #FFF;
  width: 19px;
  height: 19px;
  max-width: 19px;  
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::after {
  content: '';
  display: block;
  background-color: #FFF;
  width: 17px;
  height: 17px;
  position: relative;
}

.button {
  cursor: pointer;
  background-color: transparent;
  border: 1px solid #FFF;
  color: #FFF;
  text-align: center;
  font-family: Fira Sans Condensed;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  outline: 1px solid #FFF;
  outline-offset: 1px;
}

.button:active {
  background: #545050;
}

.button:hover {
  text-decoration: underline;
}

.search-form__submit-button {
  padding: 6px 73.5px;
}

.more-button {
  display: block;
  width: 100%;
  padding-top: 6px;
  padding-bottom: 6px;
}

.content__details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  gap: 26px;
  min-width: 399px;
}

.title {
  color: #FFF;
  font-family: Oswald;
  font-size: 75px;
  font-style: normal;
  font-weight: 700;
  line-height: 94%;
  text-transform: uppercase;
}

.content__accent {
  color: #545050;
}

.content__list {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 298px;
  overflow-x: visible;
  overflow-y: scroll;
}

.content__list-item {
  display: flex;
}

.content__list-item:not(:last-child) {
  margin-bottom: 30px;
}

.content__card-link {
  display: block;
  text-decoration: none;
  margin: 2px;
}

.content__card-link:focus {
  outline: none;
}

.content__card-link:focus-visible {
  outline: 1px solid #FFF;
  outline-offset: 1px;
}

.content__card-link:active {
  background: #545050;
}

.content__card-link:hover {
  cursor: pointer;
  text-decoration: underline;
  text-decoration-color: #FFF;
}

.content__video-card-description-container {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.content__video-card-title {
  color: #FFF;
  font-family: Oswald;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%; /* 30px */
  text-transform: uppercase;
}

.content__video-card-description {
  color: #FFF;
  font-family: Fira Sans Condensed;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 16.2px; /* 90% */
}

.content__video-card {
  display: grid;
  align-items: flex-start;
  grid-template-columns: 1fr 1fr;
}

.content__video-card-thumbnail {
  width: 194px;
  height: 103px;
  padding: 2px;
}

.content__video-card-description-container {
  width: 100%;
  height: 100%;
}